@import url("https://fonts.googleapis.com/css2?family=Metal+Mania&display=swap");

* {
   font-family: "Metal Mania", system-ui;
   font-style: normal;
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

:root {
   --primary-color: rgba(0, 0, 0, 0.7);
   --secondary-color: #c70000;
   --text-color: #ffd6d6;
   --nav-color: #ffffff;
}

body {
   text-align: center;
   background-image: url("./images/restaurant1.jpg");
   background-size: cover;
   background-position: center center;
   background-repeat: no-repeat;
   background-attachment: fixed;
   height: 100vh;
   background-color: rgb(132, 69, 27);
   background-repeat: no-repeat;
}

h1 {
   font-size: 5em;
   color: var(--nav-color);
}

header {
   margin-bottom: 20px;
   padding-bottom: 0px;
   background-color: var(--primary-color);
}

ul {
   display: flex;
   justify-content: center;
   gap: 60px;
}

ul > button {
   margin: 10px 10px 0;
   padding: 10px 10px 0;
   font-size: 2em;
   border: 0;
   border-bottom: 0;
   background-color: var(--secondary-color);
   color: var(--nav-color);
   cursor: pointer;
}

.active {
   background-color: rgb(99, 7, 7);
}

ul > button:hover {
   background-color: rgb(99, 7, 7);
}

#content {
   background-color: var(--primary-color);
   width: 1000px;
   margin: 20px auto;
   padding: 20px;
   border-radius: 10px;
   display: flex;
   flex-direction: column;
}

#content > h2 {
   font-size: 3.5em;
   color: var(--text-color);
}

.intro {
   border-radius: 10px;
   margin: 20px auto;
   width: 900px;
   border-radius: 10px;
   margin: 0px auto;
   padding: 20px;
   width: 900px;
   color: black;
}

.intro > h1 {
   font-size: 5em;
   text-decoration: underline;
   color: var(--text-color);
}

.intro > img {
   max-width: 100%;
   height: auto;
   border-radius: 20px;
}

.intro > p {
   font-size: 1.5em;
   font-weight: 100;
   background-color: var(--secondary-color);
   border-radius: 10px;
   margin-bottom: 20px;
   padding: 20px;
   color: var(--text-color);
}

.hours {
   background-color: var(--secondary-color);
   border-radius: 10px;
   margin: 0px auto;
   padding: 20px;
   width: 900px;
   color: var(--text-color);
}

.hours > h1 {
   font-size: 3em;
   text-decoration: underline;
   color: var(--text-color);
}

.hours > p {
   font-size: 20px;
}

.image-con {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   gap: 50px;
}

.image-con > div {
   width: 100%;
   height: auto;
   background-color: rgba(0, 0, 0, 0.7);
   color: white;
   border-radius: 10px;
   padding: 20px;
   display: flex;
   flex-direction: column;
}

.image-con > div > img {
   flex-grow: 1;
   max-width: 80%;
   margin: auto;
}

.image-con > div > h2 {
   font-size: 4em;
   color: var(--text-color);
}

.image-con > div > h3 {
   font-size: 2em;
}

.contact {
   width: 850px;
   margin: 20px auto;
   border-radius: 10px;
   text-align: left;
   color: aliceblue;
   display: flex;
   flex-direction: column;
   gap: 20px;
}

.contact {
   letter-spacing: 4px;
}

footer {
   margin: 20px auto 0;

   background-color: var(--primary-color);
   color: #fff;
   padding-top: 10px;
   position: fixed;
   bottom: 0;
   left: 0;
   width: 100%;
   display: flex;
   justify-content: center;
   gap: 10px;
}