@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");

:root {
   --primary-color: #212121;
   --secondary-color: #2f2f2f;
   --tertiary-color: #494949;
   --sidebar-color: #171717;
   --primary-text: #b4b4b4;
   --secondary-text: #ececec;
   --font-size-base: 12px;
   --active-page: #2f2f2f;
   --green-buttons: green;
   --yellow-buttons: rgb(255, 255, 57);
   --red-buttons: rgb(201, 1, 1);
}

* {
   margin: 0;
   padding: 0;
   font-family: "Nunito Sans", sans-serif, cursive, system-ui, -apple-system,
      "Segoe UI";
   box-sizing: border-box;
}

html {
   line-height: 1.5rem;
   font-weight: 600;
}

body {
   min-height: 100vh;
   min-height: 100dvh;
   background-color: var(--primary-color);
   color: var(--secondary-text);
   display: grid;
   grid-template-columns: auto 1fr;
}

#sidebar {
   height: 100vh;
   width: 250px;
   padding: 5px 1em;
   background-color: var(--sidebar-color);
   border-right: 1px solid var(--tertiary-color);
   position: sticky;
   top: 0;
   align-self: start;
   transition: 300ms ease-in-out;
   overflow: hidden;
   white-space: nowrap;
}

#sidebar.close {
   padding: 5px;
   width: 60px;
}

#sidebar.close .project {
   display: none;
   white-space: nowrap;
}

#sidebar ul {
   list-style: none;
}

#sidebar > ul > li:first-child {
   display: flex;
   justify-content: flex-end;
   margin-bottom: 16px;
}

#sidebar > ul > li:first-child .logo {
   font-weight: 600;
}

#sidebar ul li.active a {
   background-color: var(--active-page);
}

#sidebar ul li.active a img {
   fill: var(--active-page);
}

#sidebar a,
.add-todo,
.project,
#sidebar .dropdown-btn,
#sidebar .logo {
   border-radius: 0.5em;
   padding: 0.85em;
   text-decoration: none;
   color: var(--primary-text);
   display: flex;
   align-items: center;
   gap: 1.2em;
}

#sidebar img {
   flex-shrink: 0;
   fill: var(--primary-text);
}

#sidebar a span,
#sidebar .dropdown-btn span {
   flex-grow: 1;
}

#sidebar a:hover,
.add-todo:hover,
.project:hover,
#sidebar .dropdown-btn:hover {
   background-color: var(--secondary-color);
}

.dropdown-btn {
   width: 100%;
   text-align: left;
   background: none;
   border: none;
   font: inherit;
   cursor: pointer;
}

.project {
   padding-left: 2em;
   display: flex;
}

.project li {
   flex-grow: 1;
   overflow: hidden;
}

#toggle-btn {
   margin-left: auto;
   padding: 1em;
   border: none;
   border-radius: 0.5em;
   background: none;
   cursor: pointer;
}

#toggle-btn:hover {
   background-color: var(--secondary-color);
}

main {
   padding: min(30px, 7%);
}

main p {
   color: var(--secondary-text);
   margin-top: 5px;
   margin-bottom: 15px;
}

.todo-container {
   border: 1px solid var(--tertiary-color);
   border-radius: 1em;
   margin-bottom: 20px;
   padding: min(0.7em, 3.5%);
   display: flex;
   gap: 2em;
}

.todo-container h2,
.todo-container p {
   margin-top: 0.7em;
}

.todo-container input[type="checkbox"] {
   position: absolute;
   opacity: 0;
   cursor: pointer;
   height: 0;
   width: 0;
}

.todo-container label {
   align-self: center;
   position: relative;
   padding-left: 35px;
   cursor: pointer;
   font-size: 18px;
   user-select: none;
}

.todo-container label::before {
   content: "";
   position: absolute;
   left: 0;
   top: 0;
   width: 25px;
   height: 25px;
   border: 2px solid #ccc;
   border-radius: 50%;
   background-color: #eee;
}

.todo-container input[type="checkbox"]:checked + label::before {
   background-color: #21f336;
   border-color: #21f336;
}

.todo-container label::after {
   content: "";
   position: absolute;
   display: none;
}

.todo-container input[type="checkbox"]:checked + label::after {
   display: block;
   left: 9px;
   top: 5px;
   width: 8px;
   height: 15px;
   border: solid white;
   border-width: 0 3px 3px 0;
   transform: rotate(45deg);
}

.todo-container p:not(.todo-desc) {
   align-self: center;
   padding-right: 20px;
   font-size: 18px;
}

.todo-desc {
   flex: 1;
   font-size: smaller;
}

.dialog-content {
   display: none;
   height: 55%;
   padding: 15px;
}

.dialog-content button {
   font-size: 12px;
   font-weight: 600;
   background-color: var(--tertiary-color);
   color: var(--secondary-text);
   width: 80px;
   padding: 7px;
   border-radius: 5px;
   border: 0;
   cursor: pointer;
}

.dialog-content .cancel {
   background-color: var(--red-buttons);
}

.dialog-content .add {
   background-color: var(--green-buttons);
}

dialog {
   background-color: var(--tertiary-color);
   color: white;
   border-radius: 20px;
   border: 0;
   margin: 7% auto;
   width: 20%;
   padding: min(3%, 15px);
}

dialog #description,
dialog #edit-description,
dialog input,
dialog button,
dialog label {
   display: block;
   font-size: 100%;
   margin: 0;
   box-sizing: border-box;
   padding: 5px;
   height: auto;
   outline: none;
}

dialog #description,
dialog #edit-description,
dialog input {
   color: var(--secondary-text);
   background-color: inherit;
   width: 100%;
   border: 2px solid black;
   margin-bottom: 20px;
   resize: none;
}

dialog input[type="datetime-local"] {
   box-shadow: inset 1px 1px 3px #cccccc;
   border-radius: 5px;
   color: white;
}

dialog > header {
   display: flex;
   justify-content: space-between;
}

dialog > header > h2 {
   padding: 20px 20px 0;
   flex: 1;
   text-align: center;
   margin-bottom: 20px;
}

dialog > header > button {
   border: 1px solid black;
   height: 20px;
   width: 20px;
   border-radius: 60px;
   background-color: var(--secondary-text);
   cursor: pointer;
}

.dialog-buttons {
   display: flex;
   gap: 10px;
}

.dialog-buttons button {
   font-size: 18px;
   font-weight: bold;
   color: var(--secondary-text);
   width: 40%;
   border-radius: 5px;
   border: 0;
   cursor: pointer;
}

.dialog-buttons .cancel-todo {
   background-color: var(--red-buttons);
}

.dialog-buttons .submit-todo {
   background-color: var(--green-buttons);
}

#title {
   width: 100%;
   height: 25px;
   margin-bottom: 10px;
   border-radius: 10px;
   outline: none;
   padding: 0 10px;
}

#title:focus {
   border: 1px solid rgb(0, 0, 0);
   outline: none;
}

.add-todo-div {
   display: flex;
   justify-content: center;
   margin-bottom: 20px;
}

.add-todo {
   font-size: 25px;
   font-weight: bold;
   text-align: center;
   background: none;
   border: 2px solid var(--active-page);
   cursor: pointer;
}

select,
::picker(select) {
   appearance: none;
   background-color: var(--tertiary-color);
   border-radius: 10px;
   border: 2px solid black;
   color: var(--secondary-text);
   font-size: 16px;
}

select {
   width: 100%;
   padding: 10px;
   cursor: pointer;
   margin-bottom: 20px;
}

select:hover,
select:focus {
   outline: 0;
   background: var(--primary-text);
   color: var(--primary-color);
}

option[value="Low Priority"] {
   background-color: rgb(12, 255, 12);
}

option[value="Medium Priority"] {
   background-color: var(--yellow-buttons);
}

option[value="High Priority"] {
   background-color: var(--red-buttons);
}

option {
   color: black;
   width: 100%;
}

.close-project {
   display: block;
}

.proj-btn {
   display: flex;
   gap: 15px;
}
